* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../img/bg.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
    color: #000;
}

a {
    text-decoration: none;
    color: darkslateblue;
}

#profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #ccc;
    margin-bottom: 30px;
}

.center {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    padding: 40px;
}

.container {
    display: flex;
    width: 80vw;
    margin: 0 auto;
}

section {
    width: 100%;
    background: rgba(238, 238, 238, 0.2);
    padding: 25px;
    margin-bottom: 20px;
}

section h1 {
    margin-bottom: 10px;
    color: darkslateblue;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    font-family: poppins;
    font-weight: bold;
}

section p {
    padding: 10px;
    font-style: italic;
}

section li {
    list-style: none;
    padding: 5px 10px;
    font-style: italic;
}

section li:nth-child(odd) {
    background: rgba(238, 238, 238, 0.4);
}

.skill li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    font-style: italic;
}

.skill_level {
    text-align: right;
}

.left {
    width: 50%;
    padding-left: 40px;
    margin-right: 20px;
    /* margin-bottom: 40px; */
}

.right {
    width: 50%;
    padding-right: 40px;
    /* margin-bottom: 40px; */
}

.light {
    font-weight: lighter;
    margin-bottom: 10px;
}

.experience ul li {
    padding: 15px 10px;
}

@media (max-width: 996px) {
    .container {
        width: 100vw;
    }
}

@media (max-width: 768px) {
    .container {
        display: block;
    }
    .right,
    .left {
        padding: 0 40px;
        width: 100%;
        margin: none;
    }
}